<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body id="bodyx">
    <%- partial('_partial/header') %>
    <%- partial('_partial/nav') %>
    <%- body %>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/scripts') %>
</body>

</html>